@font-face{font-family:"WebSymbolsRegular";src:url('../fonts/websymbols-regular-webfont.eot');src:local("☺"),url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/websymbols-regular-webfont.woff') format('woff'),url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');font-weight:normal;font-style:normal}.clearfix:after{height:0;content:".";display:block;clear:both;visibility:hidden}
.padding-10{padding:10px}
.padding-20{padding:20px}
.padding-40{padding:40px}
.forms label{margin-bottom:.1em;font-size:.9em}
.forms label.right{display:inline}
.forms .field{padding-bottom:.75em}
.forms input[type="text"],.forms input[type="password"],.forms input[type="email"],.forms input[type="url"],.forms input[type="phone"],.forms input[type="tel"],.forms input[type="number"],.forms input[type="datetime"],.forms input[type="date"],.forms input[type="search"],.forms input[type="range"],.forms input[type="file"],.forms input[type="datetime-local"],.forms textarea,.forms select,.forms button{width:99.25%}
.forms-inline input[type="text"],.forms-inline input[type="password"],.forms-inline input[type="email"],.forms-inline input[type="url"],.forms-inline input[type="phone"],.forms-inline input[type="tel"],.forms-inline input[type="number"],.forms-inline input[type="datetime"],.forms-inline input[type="date"],.forms-inline input[type="search"],.forms-inline input[type="range"],.forms-inline input[type="file"],.forms-inline input[type="datetime-local"],.forms-inline textarea,.forms-inline select,.forms-inline button,.forms-inline-list input[type="text"],.forms-inline-list input[type="password"],.forms-inline-list input[type="email"],.forms-inline-list input[type="url"],.forms-inline-list input[type="phone"],.forms-inline-list input[type="tel"],.forms-inline-list input[type="number"],.forms-inline-list input[type="datetime"],.forms-inline-list input[type="date"],.forms-inline-list input[type="search"],.forms-inline-list input[type="range"],.forms-inline-list input[type="file"],.forms-inline-list input[type="datetime-local"],.forms-inline-list textarea,.forms-inline-list select,.forms-inline-list button{width:auto}
.forms .field input.checkbox{top:2px}
.forms .Actions{text-align:right}
.forms .optionset ul{list-style:none;margin-left:0}
.forms .optionset ul label{display:inline}
.forms-columnar .field{position:relative;padding-left:130px}
.forms-columnar .field label{width:120px}
.forms-columnar .field.nolabel{padding-left:0}
.forms-columnar .checkboxset,.forms-columnar .optionset{margin-bottom:.75em}
.forms-columnar .checkboxset li,.forms-columnar .optionset li{clear:both}
.forms-columnar label.right,.forms-columnar .checkboxset li label,.forms-columnar .optionset li label{float:left;margin-left:1em;line-height:1m;width:auto;text-align:left;position:static}
.forms-columnar .checkbox input,.forms-columnar .checkboxset input,.forms-columnar .optionset input{float:left;margin-top:.4em}
body{margin:0;background-color:#fff;min-width:240px}
.ie7 body,.ie8 body{min-width:860px;}
.main{background:#fff;padding:40px 0 60px;min-height:300px}
.inner{max-width:1100px;margin:0 auto;padding:0 30px}
.ie6 .inner{width:960px}
.header{background:#000}
.header .inner{padding-top:2em;position:relative;min-height:7em}
#media-query-trigger{display:none;visibility:hidden}
.header .brand a{text-decoration:none}
.header .brand .title{margin:0;padding:0;font-size:3.5em;line-height:1em}
.header .brand .title a{color:#fff}
.header .brand .tagline{font-size:1.25em}
.header .brand .tagline a{color:#777}
.search-bar{position:absolute;right:13px;top:12px}
.search-bar .field{margin:0;padding:0}
.search-bar form input.text{width:155px;padding:5px 34px 5px 15px;color:#888;margin:0;border:none;border-radius:14px;background:#fff}
.search-bar form input.action{font-size:14px;position:absolute;right:5px;top:0;cursor:pointer;border:none;padding:5px;background:none;font-family:'WebSymbolsRegular';color:#555;border-radius:0;margin:0}
.search-bar form input.active,.search-bar form input.action:hover{color:#000}
.search-bar form input:focus,.header textarea:focus{outline:none;}
.search-dropdown-icon{display:none;}
.header .nav-open-button{display:none}
.header .primary ul{position:absolute;bottom:0;right:0}
.header .primary li{padding-bottom:14px;position:relative;white-space:nowrap}
.header .primary li a{color:#777;font-size:15px;font-weight:bold}
.header .primary li a:hover,.header .primary li.section a,.header .primary li.current a{color:#fff}
.header .primary li.section:after,.header .primary li.current:after{content:'}';display:block;position:absolute;left:50%;margin-left:-7px;bottom:-7px;font-family:'WebSymbolsRegular';font-size:30px;color:#fff;text-align:center;line-height:20px}
.main .secondary ul{margin-left:0;padding-left:0}
.main .secondary li{position:relative}
.main .secondary li a{font-size:.9em;color:#777;text-transform:uppercase}
.main .secondary li a .arrow{color:#000;padding-right:5px;display:block;font-size:15px;line-height:20px;position:absolute;left:2px;top:7px;transition:.2s}
.main .secondary li a:hover .arrow{left:6px}
.main .secondary li a .text{padding-left:28px;display:block;color:inherit}
.main .secondary li.current a.current,.main .secondary li.section,.main .secondary li.current{background-color:#ededed}
.main .secondary ul ul{display:none}
.secondary ul li.current ul,.secondary ul li.section ul{display:block}
.secondary li.current ul ul{display:none}
.main .secondary ul ul li a{padding-left:10px}
.main .secondary ul ul li a .arrow{left:12px}
.main .secondary ul ul li a:hover .arrow{left:16px}
.main .secondary ul ul ul li a{padding-left:20px}
.main .secondary ul ul ul li a .arrow{left:22px}
.main .secondary ul ul ul li a:hover .arrow{left:26px}
.main .secondary ul ul ul ul li a{padding-left:30px}
.main .secondary ul ul ul ul li a .arrow{left:32px}
.main .secondary ul ul ul ul li a:hover .arrow{left:36px}
.main .secondary ul ul ul ul ul li a{padding-left:40px}
.main .secondary ul ul ul ul ul li a .arrow{left:32px}
.main .secondary ul ul ul ul ul li a:hover .arrow{left:36px}
.footer{color:#777;background:#ededed;padding:2em 0;font-size:.75em}
.footer a{color:#777}
.footer a:hover{color:#000}
.footer .socialnav{display:inline;margin:0;padding:0}
.footer .socialnav li{display:inline}
.footer .socialnav a{text-decoration:none}
.footer .primary .nav-open-button{display:none;}
.HomePage h1{display:none}
.searchResults h1{margin-bottom:0;padding-bottom:0;border-bottom:none}
.searchResults p.searchQuery{margin-bottom:10px;font-size:15px;font-weight:bold}
.searchResults ul#SearchResults{padding:0;border-bottom:1px solid #e5e5e5;margin:0}
.searchResults ul#SearchResults li{border-top:1px solid #e5e5e5;padding:20px 0;list-style-type:none}
.searchResults ul#SearchResults p{margin-bottom:10px}
@media only screen and (max-width:767px){#media-query-trigger{visibility:visible} .inner{padding:0 20px} .header{padding:0} .header .primary .nav-open-button{z-index:100;width:20px;height:20px;position:absolute;right:20px;top:35px;display:block;cursor:pointer;font-family:'WebSymbolsRegular';font-size:20px;color:#fff} .header .primary ul{z-index:10;position:relative;display:none;float:left;margin:0;padding:0;white-space:normal;width:100%} .header .primary ul li{width:100%;margin:0;padding:0;float:none;background:none;position:relative;text-shadow:0 1px #fff} .header .primary ul li:after{content:'\003e';display:block;position:absolute;right:20px;top:0;font-family:'WebSymbolsRegular';font-size:14px;color:#000;text-align:center;vertical-align:middle;line-height:38px} .header .primary ul li a,.header .primary ul li.current a,.header .primary ul li.section a{padding:10px 0 10px 22px;font-weight:bold;border-bottom:1px solid #777;color:#000;background:#ededed} .header .primary ul li.current a,.header .primary ul li.section a{background:#777;} .header .primary ul li a:hover{color:inherit} .header .primary li.section:after,.header .primary li.current:after{display:none;} .header nav.primary ul ul li{padding:0} .search-bar{width:100%;position:relative;top:0;right:0;display:none;padding:20px 0;margin:0;background-color:#e7e7e7} .search-dropdown-icon{display:block;cursor:pointer;width:20px;height:20px;position:absolute;right:60px;top:34px;font-family:'WebSymbolsRegular';font-size:20px;color:#ededed;text-align:center;line-height:20px} .search-bar form{margin:0;width:100%} .search-bar form fieldset{padding:0 18px;left:0;right:0;position:relative} .search-bar div.field{margin-bottom:0} .search-bar form input.text{width:89%;max-width:89%;padding:8px 10% 8px 1%;text-indent:15px;position:relative;display:block;right:0;left:0;border:1px solid #e5e5e5;background:#fff;font-size:17px;-moz-border-radius:20px;border-radius:20px} .search-bar form input.action{right:5%;top:2px;font-size:18px}}@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important} a,a:visited{text-decoration:underline} a[href]:after{content:" (" attr(href) ")"} abbr[title]:after{content:" (" attr(title) ")"} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""} thead{display:table-header-group} tr,img{page-break-inside:avoid} img{max-width:100% !important} pre,blockquote{border:1px solid #999;page-break-inside:avoid} @page {margin:.5cm}p,h2,h3{orphans:3;widows:3} h2,h3{page-break-after:avoid} .header,.footer,.nav-open-button,.search-bar,.search-dropdown-icon,nav.primary{display:none}}
