.forms label {
    margin-bottom: .1em;
    font-size: 0.9em;
}
.forms label.right {
    display: inline;
}
.forms .field {
    padding-bottom: .75em;
}
.forms input[type="text"],
.forms input[type="password"],
.forms input[type="email"],
.forms input[type="url"],
.forms input[type="phone"],
.forms input[type="tel"],
.forms input[type="number"],
.forms input[type="datetime"],
.forms input[type="date"],
.forms input[type="search"],
.forms input[type="range"],
.forms input[type="file"],
.forms input[type="datetime-local"],
.forms textarea,
.forms select,
.forms button {
    width: 99.25%;
}
.forms-inline input[type="text"],
.forms-inline input[type="password"],
.forms-inline input[type="email"],
.forms-inline input[type="url"],
.forms-inline input[type="phone"],
.forms-inline input[type="tel"],
.forms-inline input[type="number"],
.forms-inline input[type="datetime"],
.forms-inline input[type="date"],
.forms-inline input[type="search"],
.forms-inline input[type="range"],
.forms-inline input[type="file"],
.forms-inline input[type="datetime-local"],
.forms-inline textarea,
.forms-inline select,
.forms-inline button,
.forms-inline-list input[type="text"],
.forms-inline-list input[type="password"],
.forms-inline-list input[type="email"],
.forms-inline-list input[type="url"],
.forms-inline-list input[type="phone"],
.forms-inline-list input[type="tel"],
.forms-inline-list input[type="number"],
.forms-inline-list input[type="datetime"],
.forms-inline-list input[type="date"],
.forms-inline-list input[type="search"],
.forms-inline-list input[type="range"],
.forms-inline-list input[type="file"],
.forms-inline-list input[type="datetime-local"],
.forms-inline-list textarea,
.forms-inline-list select,
.forms-inline-list button {
    width: auto;
}

.forms .field input.checkbox {
    top: 2px;
}

.forms .Actions {
    text-align: right;
}

.forms .optionset ul {
    list-style: none;
    margin-left: 0;
}
    .forms .optionset ul label {
        display: inline;
    }

.forms-columnar .field {
    position: relative;
    padding-left: 130px;
}

    .forms-columnar .field label {
        width: 120px;
    }

.forms-columnar .field.nolabel {
    padding-left: 0;
}

.forms-columnar .checkboxset,
.forms-columnar .optionset {
    margin-bottom: 0.75em;
}
    .forms-columnar .checkboxset li,
    .forms-columnar .optionset  li {
        clear: both;
    }

    .forms-columnar label.right,
    .forms-columnar .checkboxset li label,
    .forms-columnar .optionset  li label {
        float: left;
        margin-left: 1em;
        line-height: 1m;
        width: auto;
        text-align: left;
        position: static;
    }
    .forms-columnar .checkbox input,
    .forms-columnar .checkboxset input,
    .forms-columnar .optionset input {
        float: left;
        margin-top: 0.4em;
    }
